{{ 'section-city-preview.css' | asset_url | stylesheet_tag }}

<div class="city-preview color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width">
    <div class="city-preview__wrapper section-{{ section.id }}-padding">
      {% if section.settings.heading != blank %}
        <h2 class="city-preview__heading">{{ section.settings.heading }}</h2>
      {% endif %}
      
      {% if section.settings.description != blank %}
        <div class="city-preview__description rte">{{ section.settings.description }}</div>
      {% endif %}

      <div class="city-preview__grid grid grid--1-col grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'city_item' %}
              <div class="city-preview__item" {{ block.shopify_attributes }}>
                {% if block.settings.image != blank %}
                  <div class="city-preview__image media">
                    {%- liquid
                      assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
                      if section.settings.image_ratio == 'adapt'
                        assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
                      elsif section.settings.image_ratio == 'square'
                        assign image_height = block.settings.image.width
                      endif
                    -%}
                    {{
                      block.settings.image
                      | image_url: width: 400
                      | image_tag:
                        loading: 'lazy',
                        width: block.settings.image.width,
                        height: image_height,
                        alt: block.settings.image.alt | escape | default: block.settings.city_name
                    }}
                  </div>
                {% endif %}
                
                <div class="city-preview__content">
                  {% if block.settings.city_name != blank %}
                    <h3 class="city-preview__title h3">{{ block.settings.city_name }}</h3>
                  {% endif %}
                  
                  {% if block.settings.price != blank %}
                    <div class="city-preview__price h4">{{ block.settings.price }}</div>
                  {% endif %}
                  
                  {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                    <a href="{{ block.settings.button_link }}" class="city-preview__button button button--primary">
                      {{ block.settings.button_label }}
                    </a>
                  {% endif %}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "City Preview",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Eigene Stadt",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Eigene 3D Karte erstellen!</p>",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "city_item",
      "name": "City Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "city_name",
          "default": "Custom City",
          "label": "City Name"
        },
        {
          "type": "text",
          "id": "price",
          "default": "€0,00",
          "label": "Price"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Customize",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "City Preview",
      "blocks": [
        {
          "type": "city_item"
        },
        {
          "type": "city_item"
        }
      ]
    }
  ]
}
{% endschema %}
